<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InformatiqueEDU_TaskEntities" connectionString="metadata=res://*/MainModels.csdl|res://*/MainModels.ssdl|res://*/MainModels.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;159.69.243.202, 1433&quot;;initial catalog=InformatiqueEDU_Task;persist security info=True;user id=TheRock;password=amir2011.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>